version: '3'
services:
  db:
    image: postgres:9.6.16
    volumes:
      - db_data:/var/lib/postgresql/data:delegated
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    image: witness:0.1
    tty: true
    command: bash
    environment:
    - DOCKERIZED=true
    volumes:
      - .:/app:delegated
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - db

volumes:
  db_data:
