version: '3'
services:
  redis:
    image: registry.lil.tools/library/redis:5.0.6
    volumes:
      - redis_data:/data:delegated
  db:
    image: registry.lil.tools/library/postgres:11.9
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql/data:delegated
  minio:
    image: registry.lil.tools/minio/minio:RELEASE.2021-02-19T04-38-02Z
    entrypoint:
      - "/entrypoint.sh"
    command:
      - "server"
      - "/data"
    environment:
      - MINIO_ACCESS_KEY=accesskey
      - MINIO_SECRET_KEY=secretkey
      - DATA_DIR=/data
      - BUCKET=perma-capture
    volumes:
      - ./docker/minio/entrypoint.sh:/entrypoint.sh
      - minio_data:/data:delegated
    ports:
      - "127.0.0.1:9000:9000"
  web:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    image: perma-capture:0.11
    tty: true
    command: bash
    environment:
      - DOCKERIZED=true
      - HOST_DIRECTORY=${HOST_DIRECTORY:-perma-capture}
      - SCOOP_PROXY_PORT=9900
      - TEST_CAPTURE_TARGET_DOMAINS=capture-target-1.test,capture-target-2.test,capture-target-3.test,capture-target-4.test
    volumes:
      - ./web:/app/web:delegated
      # Grant the container access to your host's Docker daemon, so that it can build and launch Scoop.
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/scoop:/app/docker/scoop:delegated
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:3000:3000"
    depends_on:
      - db
      - minio
  nginx:
    image: registry.lil.tools/harvardlil/nginx:0.03
    ports:
        - "127.0.0.1:80:80"
    volumes:
      - ./services/nginx/html:/usr/share/nginx/html
      - ./services/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./services/nginx/logs:/var/log/nginx
    networks:
      capture-target:
        aliases:
          - capture-target-1.test
          - capture-target-2.test
          - capture-target-3.test
          - capture-target-4.test

volumes:
  db_data:
  redis_data:
  minio_data:

networks:
  default:
  capture-target:
