.account-page-container {
  background-color: $color-gray-light-medium;
  @include media-breakpoint-down(sm) {
    .api-info {
      margin-top: 2em;
    }
  }
}

.account-info {
  grid-area: col1;
}

.api-info {
  grid-area: col2;
}

.base-form {
  padding: 0;
  margin-bottom: 0;
}