.capture-dashboard {
  display: grid;
  grid-template-areas: "sidebar captures";
  grid-template-columns: 30% 70%;
  @include media-breakpoint-up(lg) {
    &.capture-detail {
      grid-template-areas: "sidebar captures capture-detail";
      grid-template-columns: 20% 50% 30%;
    }
  }
  // if smaller screen, make dashboard container full-width
  @include media-breakpoint-down(md) {
    min-width: 100%;
    padding: 0;
    grid-template-areas: "sidebar captures";
    grid-template-columns: 30% 80%;
  }

  .capture-form {
    grid-area: sidebar;
  }

  .captures-list {
    grid-area: captures;
    background-color: $color-white;
    padding: 0;

    h4 {
      padding-left: 0.5em;
    }
  }

  .capture-detail-container {
    grid-area: capture-detail;
  }

  h1 {
    font-weight: 300;
  }

  li {
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid $color-gray-light-medium;

    .capture-url {
      margin-bottom: 1em;

      a {
        text-decoration: none;
        font-weight: 400;
      }
    }
  }

  .capture-detail-container {
    background-color: $color-white;
    padding: 1em;
    border-left: 1px solid $color-gray-light-medium;
  }

}
