.navbar-brand {
  color: $color-gray-medium;
  font-size: 1.25em;
}

.dropdown-toggle {
  background-color: $color-blue;
  color: $color-white;
  border: 0;
}

.navbar-nav {
  @include media-breakpoint-down(lg) {
    flex-direction: row;
  }
  .nav-item {
    margin-left: 0.5em;
  }
}