.navbar {
  border-bottom: 1px solid $color-gray-light-medium;

  .dropdown-toggle {
    background-color: $color-blue;
    color: $color-white;
    border: 0;
  }
}

.navbar-brand {
  color: $color-gray-medium;
  font-size: 1.25em;
  position: relative;
}

.wordmark {
  position: absolute;
  display: inline-block;
  margin-top: 1px;
  margin-left: 8px;
}

.navbar-nav {
  @include media-breakpoint-down(lg) {
    flex-direction: row;
  }

  .nav-item {
    margin-left: 0.5em;
  }
}
