{% extends "base-two-column.html" %}

{% block title %}My Account{% endblock %}
{% block heading %}My Account{% endblock %}

{% block column_first %}
  <h2>Profile</h2>
  <form method="POST" class="u-full-width">
    {% csrf_token %}
    <div class="row">
      {{ form }}
    </div>
    <button type="submit" class="button-primary">Save changes</button>
  </form>

  <h2>Password</h2>
  <p><a href="{% url 'password_change' %}" class="button button-primary">Change my password</a></p>
{% endblock %}

{% block column_second %}
  <h2>API</h2>
  <p>
    <label for="api-key">Your API key</label>
    <input id="api-key" type="text" value="{{ request.user.auth_token.key }}" readonly class="u-full-width">
    <button id="api-key-button" type="button" class="button-primary">Get a new key</button>
  </p>
{% endblock %}

{% block scripts %}
  <script>
    const RESET_TOKEN_BUTTON = true;
    const RESET_TOKEN_URL = "{% url 'token_reset' %}";
  </script>
  {{ block.super }}
{% endblock scripts %}
