{% extends "base.html" %}

{% block title %}Log in{% endblock %}
{% block heading %}Log in{% endblock %}

{% block content %}

  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="row">
      {{ form }}
    </div>
    <div class="row">
      <button class="button-primary" type="submit">Log in</button>
    </div>
  </form>

  <hr>

  <p class="small">
    Don't have an account?
    <a href="{% url 'sign_up' %}">Sign up</a>
  </p>
  <p class="small">
    Forgot your password?
    <a href="{% url 'password_reset' %}">Reset password</a>
  </p>

{% endblock %}
