{% load parse_user_agent %}Hi {{ user.get_full_name }},

We received a request to reset your {{ APP_NAME }} password. Please use the link below to reset it. The link will be valid for the next {% widthratio PASSWORD_RESET_TIMEOUT 3600 1 %} hours.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% with request.headers.user_agent|parse_user_agent as device %}{% if request.headers.user_agent and device %}The reset request was received from {{ device }} on {% now "l, F j" %} at {% now "H:i:s e" %}. {% endif %}{% endwith %}If you did not request a password reset, please ignore this email.

Thanks,
The {{ APP_NAME }} Team
