{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header_scripts %}
{% include "includes/vue_store_bootstrap.html" %}
{% include "includes/vite.html" %}
{% endblock header_scripts %}

{% block css %}{% endblock css %}

{% block title %}Change password{% endblock %}
{% block heading %}Change password{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <form method="POST">
      {% csrf_token %}

      {% if form.errors %}
      <div class="alert alert-warning">Please correct the error below.</div>
      {% endif %}

      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Change my password</button>
    </form>
  </div>
</div>
{% endblock %}
