{% extends "base.html" %}

{% block title %}Password reset{% endblock %}
{% block heading %}Password reset{% endblock %}

{% block content %}
  {% if validlink %}
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        {{ form }}
      </div>
      <button type="submit" class="button-primary">Change my password</button>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please <a href="{% url 'password_reset' %}">request a new password reset.</a></p>
  {% endif %}
{% endblock %}
