{% load static %}

<!DOCTYPE html>
<html lang="en" class="{% block html-class%}{% endblock %}">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if heading and heading == APP_NAME %}{{ heading }}{% else %}{% block title %}{{ heading }}{% endblock title %} | {{ APP_NAME }}{% endif %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endblock css %}
    {% block header_scripts %}{% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container">
      <div id="vue-app"></div>
      <main>
        <h1 class="text-center display-5">{% block heading %}{{ heading }}{% endblock heading %}</h1>
        {% block content %}
        {% endblock content %}
      </main>
    </div>
    <a class="a11y-policy" href="{{ ACCESSIBILITY_POLICY_URL }}"><span aria-hidden="true">♿</span><span class="sr-only">Accessibility policy</span></a>
    <div id="sr-announcements-intro" class="sr-only">Notifications:</div>
    <div id="sr-announcements" class="sr-only" aria-live="assertive" aria-atomic="true"></div>
    {% endblock body %}
    {% block scripts %}
      <script src="{% static 'js/main.js' %}"></script>
    {% endblock scripts %}
    {% include 'includes/analytics.html' %}
  </body>
</html>
