{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>{{ heading }}</title>{% endblock title %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% endblock css %}
  </head>
  <body>
    {% block body %}
    <div class="wrapper wrapper-flex">
      <header>
        <div class="navbar-brand logo">
          <a href="/">Perma Eyes <img alt="" class="infinity-logo" src="{% static 'img/eyes.svg' %}"></a>
        </div>
        <div class="a11y-policy">
          <a href="{{ ACCESSIBILITY_POLICY_URL }}"><span aria-hidden="true">♿</span><span class="sr-only">Accessibility Policy</span></a>
        </div>
      </header>
      <main class="container wrapper-flex">
        <div class="row">
          {% block heading %}
            <h1>{{ heading }}</h1>
          {% endblock heading %}
          {% block content %}
          {% endblock content %}
        </div>
      </main>
    </div>
    {% endblock body %}
    {% block scripts %}
    {% endblock scripts %}
    {% include 'includes/analytics.html' %}
  </body>
</html>
