$display-font-weight: 900;

$container-max-widths: (
  xxl: 1200px
);

// colors
$color-blue: #3F77E6;
$color-red: #F24E1E;
$color-orange: #DD671A;
$color-white: #FFFFFF;
$color-tan: #F6F8F2;

// so many grays
$color-gray-light: #FBFBFB;
$color-gray-light-medium: #EEEEEE;
$color-gray-light-darker: #d6d6d6;
$color-gray: #8e8e8e;
$color-gray-medium: #646464;
$color-gray-dark: #454545;
$color-black: #2f2f2f;

// bootstrap overrides
$form-feedback-invalid-color: $color-red;

$danger: $color-red;
// $primary: $color-blue;
// $secondary: $color-orange;
// $success
// $info
// $warning
// $light
// $dark

$input-padding-x: 0;
$form-floating-label-opacity: 0.9;
$form-floating-input-padding-t: 2.5rem;
$form-floating-input-padding-b: 1rem;

$accordion-padding-y: 0.5 rem;
$accordion-button-bg: $color-white;
$accordion-button-active-bg: $color-white;
$accordion-button-color: $color-gray-medium;
$accordion-button-active-color: $color-gray-medium;
