@import "_vendor/vendor";

// Base Styles
@import "_base/base";

// Layout
@import "_layouts/layouts";

// Pages
@import "_pages/pages";

// root-page
.root-page-container {
  background-color: $color-gray-light;
}


// capture-page
.capture-form {
  padding: 3em 1.5em;
  background-color: $color-gray-light-medium;

  .subtitle {
    color: $color-gray-medium;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 400;
    margin: 1em 0;
  }
}

.captures-list {
  background-color: $color-white;
  padding: 0;

  li {
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid $color-gray-light-medium;

    .capture-url {
      margin-bottom: 1em;

      a {
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

.capture-detail-container {
  background-color: $color-white;
  padding: 1em;
  border-left: 1px solid $color-gray-light-medium;
}

// login-page
.login-page-container {
  background-color: $color-gray-light-medium;
  .message {
    .subtitle {
      font-weight: normal;
    }
  }
  .base-form {
    background-color: $color-white;
    padding: 1em;
    margin-bottom: 1.5em;
    h1 {
      color: $color-blue;
    }
    input {
      border: 0;
      border-bottom: 1px solid $color-gray;
    }
  }
  .small {
    color: $color-gray-medium;
  }
}


