@import "vars-global";
@import "fonts";
@import "forms";

// RESET STYLES
html, body {
  font-family: $font-family-sans-serif;
}

ul {
  padding: 0;
}

h1 {
  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 36px;
  }
}

.main-header {
  @extend .display-5;
  padding-top: 0.5em;
}

.btn {
  border-radius: 0;
}

.warning-text {
  color: $color-red;
}

.secondary-text {
  color: $color-gray-dark;
}

.blue-text {
  color: $color-blue;
}

@mixin bottom-shadow {
  box-shadow: 0 15px 15px -15px rgba(0,0,0,0.1);
}

@mixin top-shadow {
  box-shadow: 0 -2px 2px -2px rgba(0,0,0,0.2);
}

@mixin bottom-and-top-shadow {
  box-shadow:
    0 15px 15px -15px rgba(0,0,0,0.1),
    0 -2px 2px -2px rgba(0,0,0,0.2);
}
