@import "vars-global";
@import "fonts";

// RESET STYLES

html, body {
  font-family: $font-family-sans-serif;
}

ul {
  padding: 0;
}

h1 {
  @include media-breakpoint-up(md) {
    font-size: 32px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 36px;
  }
}

.container-full {
  min-height: 90vh;
}

.form-control {
  border-radius: 0;
  //padding-left: 0;
}

.form-control::placeholder {
  color: $color-gray;
  font-weight: 400;
}

.btn {
  border-radius: 0;
}

.warning-text {
  color: $color-red;
}

.secondary-text {
  color: $color-gray-dark;
}

.blue-text {
  color: $color-blue;
}