.form-control {
  border-radius: 0;
}

.form-control::placeholder {
  color: $color-gray;
  font-weight: 400;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $color-gray-light-darker;
}

.base-form {
  background-color: $color-gray-light-medium;
  padding: 1em;
  margin-bottom: 1.5em;

  h1 {
    color: $color-blue;
  }

  input {
    border: 0;
  }
}
