$display-font-weight: 900;

$container-max-widths: (
        xxl: 1200px
);

// colors
$color-blue: #3F77E6;
$color-red: #F24E1E;
$color-orange: #DD671A;
$color-white: #FFFFFF;

// so many grays
$color-gray-light: #FBFBFB;
$color-gray-light-medium: #EEEEEE;
$color-gray: #8E8E8E;
$color-gray-medium: #646464;
$color-gray-dark: #454545;

