/* a11y helpers */
/* from https://github.com/twbs/bootstrap-sass/blob/5d6b2ebba0c2a5885ce2f0e01e9218db3d3b5e47/assets/stylesheets/bootstrap/_scaffolding.scss*/

/* Only display content to screen readers
  See: http://a11yproject.com/posts/how-to-hide-content */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*Use in conjunction with .sr-only to only display content when it's focused.
Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
Credit: HTML5 Boilerplate*/
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

/* fonts */

/* Courtesy of https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin */
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v16-latin-300.woff2') format('woff2'),
       url('../fonts/roboto-v16-latin-300.woff') format('woff');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-v16-latin-regular.woff') format('woff');
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v16-latin-900.woff2') format('woff2'),
       url('../fonts/roboto-v16-latin-900.woff') format('woff');
}

/* styles */

html, body {
  height: 100%;
  background-color: #F6F8F1;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2D76EE;
}


.wrapper {
  height:100%;
  text-align: center;
}

.wrapper-flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content:center;
}

header {
  background-color: white;
  padding: 20px 0;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

main {
  flex-grow: 1;
}

main a {
  color: #2D76EE;
  text-decoration: underline !important;
  text-weight: 900;
}

header a {
  color: #2D76EE;
}

main a:hover,
main a:focus,
header a:hover,
header a:focus
 {
  color: #DD671A;
}

h1 {
  font-weight: 700;
  color: black;
}

p {
  font-size: 2em;
  line-height: 1.6;
  font-weight: 100;
}

p.small {
  font-size: 1em;
}

a {
  text-decoration: none;
}

.logo a {
  font-weight: 900;
  color: #222;
  padding-left: 36px;
  min-width: 7em;
}

img.infinity-logo {
  height: 15px;
  margin-left: 5px;
}

.header-right {
  padding-right: 36px;
  padding-left: 36px;
  font-size: 18px;
  margin-top: 6px;
  font-weight: 300;
}

.header-right a {
  padding-left: 12px;
}

@media (max-width: 550px) {
  .logo a {
    font-size: 18px;
  }
  .header-right a {
    font-size: 16px;
  }
}

.wrapper-noflex main {
  padding: 54px 18px 0 0;
  text-align: left;
}

.wrapper-noflex h1 {
  margin-bottom: 32px;
  text-align: center;
}

#first-column h2,
#second-column h2 {
  font-size: 1.5em;
}

#first-column h3,
#second-column h3 {
  font-size: 1.3em;
}

#first-column h4,
#second-column h4 {
  font-size: 1.1em;
}

#first-column p,
#second-column p {
  font-size: 1em;
}

#header-paragraph {
  font-size: 1.5em;
}

#second-column {
  padding-top: 25px;
  border-top: 1px solid #E1E1E1;
}

@media (min-width: 550px) {
  #header-paragraph  {
    text-align: center;
    margin-bottom: 42px;
    font-size: 2em;
  }

  #second-column {
    padding-top: 0;
    padding-left: 50px;
    border-left: 1px solid #E1E1E1;
    border-top: none;
  }
}

.subheading {
  text-align: center;
  margin-top: -32px;
  color: #DD671A;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.3;
}

.queue ~ .queue {
  border-top: 1px solid #E1E1E1;
  padding-top: 25px;
}

form.u-full-width label,
form.u-full-width input {
  width: 100%;
}

.a11y-policy {
  position: fixed;
  bottom: 0;
  right: 12px;
  font-size: 24px;
}

.btn-link {
  color: #2D76EE;;
  font-weight: normal;
  font-size: 1.3em;
  border-radius: 0;
  text-transform: none;
  text-decoration: underline;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled] {
  background-color: transparent;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #DD671A;
  background-color: transparent;
}

/* Override Skeleton's primary button colors*/

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #2D76EE;
  border-color: #2D76EE;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background-color: #DD671A;
    border-color: #DD671A;
}


/* Nav */

#toggle-nav {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  border: none;
  z-index: 1000;
  font-size: 18px;
  font-weight: 300;
}

#toggle-nav[aria-expanded="true"] {
  color: white;
}

#toggle-nav:hover,
#toggle-nav:focus {
  color: #DD671A;
}

#nav.hidden {
  display: none;
}

#nav {
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    right: 0;
    border-left: 10px solid #1e1e1e;
    padding: 85px 35px 35px 35px;
    color: white;
    background-color: #1e1e1e;
}

#nav a {
  color: white;
}

#nav a:hover,
#nav a:focus {
  color: #DD671A;
}

#nav ul {
  list-style: none;
}

#nav li {
  line-height: 2.5;
  margin-bottom: 0;
}

nav #admin-only {
  border-top: 1px solid #E1E1E1;
  padding-top: 25px;
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 0.8em;
}


/* Capture service UI customizations */

/* Since THAT css framework and OUR css framework both use rems... */
/* ... but our framework wants html base size at 62.5% and that one doesn't */
/* ... and at least for now, we have better control over this code */

/* N.B. you cannot target any selectors particular to the shadow dom element */

html.dashboard, html.dashboard body {
  font-size: 100%;
}

html.dashboard h1 {
  font-size: 50px;
}

html.dashboard .subheading {
  font-size: 20px;
}


/* Docs page customizations */

pre {
  overflow: hidden;
}

code {
  overflow: auto;
}

html.docs #second-column {
  font-size: 1.2em;
}

html.docs replay-web-page {
  height: 600px;
  display: flex;
  margin-bottom: 1.75em;
}
