pip-tools
fabric3
tqdm

django
django-extensions
djangorestframework
whitenoise          # static file serving

# database
psycopg2            # postgres connector

# Features
ua-parser           # user-agent parsing

# Testing
flake8
pytest
pytest-django
pytest-cov
pytest-mock
factory-boy         # create django model fixtures on demand
