# Admin
pip-tools
fabric3             # project automation
tqdm                # script progress bars

# Celery
celery[redis]       # task queue
flower              # monitoring
watchdog            # restart celery in dev (via 'watchmedo' command)
argh                # needed by watchdog
pyyaml              # needed by watchdog

# Database
psycopg2            # postgres connector

# Django Stuff
django
django-extensions
djangorestframework
djangorestframework-camel-case  # conform to capture service's JSON convention
pyhumps             # a helper for dealing with the fallout of the above
whitenoise          # static file serving

# Features
ua-parser           # user-agent parsing

# API
requests            # need for contacting api server

# Testing
flake8
pytest
pytest-django
pytest-cov          # record code coverage
pytest-mock         # mocking
factory-boy         # create django model fixtures on demand
